// Bootstrap Modifications

$primary: rgb(120, 7, 43);
$secondary: rgb(255, 230, 130);

// Custom Css

.cursor-pointer {
    cursor: pointer;
}

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100% !important;
    height: 100vh !important;
    background-image: url("../img/idm07326.jpg");

    @media (max-width: 576px) {
        background-image: url("../img/L_Guadagnini_pzaWaltherPlatz.jpg");
    }
}

.window {
    border: 3px dashed #ffffff;

    &.open {
        border-color: rgba(255, 255, 255, 0.5);

        h3 {
            color: rgba(255, 255, 255, 0.5);
        }
    }

    @media (max-width: 576px) {
        border-width: 2px;
    }
}

.wiggle {
    animation-duration: 500ms;
    animation-name: wiggle;
}

@keyframes wiggle {
    0% {
        transform: rotate(1deg);
    }
    25% {
        transform: rotate(-3deg);
    }
    40% {
        transform: rotate(5deg);
    }
    60% {
        transform: rotate(-3deg);
    }
    80% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

.click {
    animation-duration: 400ms;
    animation-name: click;
}

@keyframes click {
    50% {
        transform: scale(90%);
    }
    100% {
        transform: scale(100%)
    }
}

// Custom Iframe sizing
.iframe-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;

    .iframe-video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        @media screen and (max-width: 576px) {
            width: 90%;
            transform: translateX(5%);
        }
    }
}

.modal-content {
    background-color: transparent !important;
    border: none !important;
}

.md-container {
    // img {
    //     display: block;
    //     max-width: 100%;
    //     margin: 0 auto; // TODO

    //     &:has(+ img) {
    //         display: inline;
    //         margin-right: 0;
    //     }

    //     & + img {
    //         display: inline;
    //         margin-left: 0;
    //     }
    // }

    p:has(> img) {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            max-width: 100%;
            padding: 0 1rem;
        }
    }
}
