

.background {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100% !important;
    height: 100vh !important;
}

/* .background > div {
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.logo {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    height: 16vh;
}

.foreground {
    flex: 1;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: min-content;
} */

.window {
    text-align: center;
    color: #fff;
    background-color: rgb(120, 7, 43);
    cursor: pointer;
}

.window h3 {
    margin: 0;
}